<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">MAMA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{/}">Crews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/gangsters}">Gangsters</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h3 class="text text-center">Gangsters</h3>

    <table class="table table-bordered table-sm table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Crew</th>
          <th scope="col">Role</th>
          <th scope="col">Skills</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="gangster : ${gangsters}">
          <td th:text = "${gangster.fullName}"></td>
          <td>
            <p th:each="crew : ${gangster.crew}">
              <span th:text="${crew.name}"></span>
            </p>
          </td>
          <td th:text = "${gangster.role}"></td>
          <td>
            <p th:each="skills : ${gangster.skills}">
              <span th:text="${skills.name}"></span>
            </p>
          </td>
          <td th:text = "${gangster.comment}"></td>
        </tr>
      </tbody>

    </table>
  </body>
</html>
